In [1]:
import os, json, glob
import pandas as pd

#### 1. Get data from MySQL.

In [2]:
# Connect to MySQL.
from sqlalchemy import create_engine
engine = create_engine('mysql://qingxiang:techlent@35.184.139.254/indeed_jobs')

# verify connection
query = '''
SELECT *
FROM jobs_table2
ORDER BY job_id
'''
df = pd.read_sql_query(query, engine)

In [3]:
df.head(3)

,job_id,search_title,title,company,reviews,location,description,days_ago,date_get,Ad_start_date,file_name,link
0,1,machine learning engineer,Machine Learning Engineer,Triplebyte,NA,"New York, NY",About TriplebyteTriplebyte is transforming the...,7,2020-01-23,2020-01-16,2020-01-16_Triplebyte464,None
1,2,machine learning engineer,Machine Learning Engineer (Principal Level),Shape Security,4 reviews,"Santa Clara, CA",About Shape Security\nWe are security and web ...,8,2020-01-23,2020-01-15,2020-01-15_Shape Security71,None
2,3,machine learning engineer,Principal Machine Learning Engineer,Two Six Labs,NA,"Arlington, VA 22203",Two Six Labs is seeking an experienced and mot...,8,2020-01-23,2020-01-15,2020-01-15_Two Six Labs77,None

In [4]:
df.tail(3)

,job_id,search_title,title,company,reviews,location,description,days_ago,date_get,Ad_start_date,file_name,link
11833,11834,data analyst,Data Analyst,Pueo Business Solutions,3 reviews,"Washington, DC",Data Analyst\nSalary Range: $109K-119K\nCleara...,1,2020-02-25,2020-02-24,2020-02-24_Pueo Business Solutions204,https://www.indeed.com/rc/clk?jk=5aa430324808c...
11834,11835,data analyst,Senior Data Analyst,Arkansas Department Of Human Services,333 reviews,"Little Rock, AR 72201",State of ArkansasDepartment of Human ServicesA...,Today,2020-02-25,2020-02-25,2020-02-25_Arkansas Department Of Human Servic...,https://www.indeed.com/company/Arkansas-Depart...
11835,11836,data analyst,Senior Data Analyst,Chicago Public Schools,"1,542 reviews","Chicago, IL",Senior Data Analyst(Job Number: 200000AA)\nDes...,1,2020-02-25,2020-02-24,2020-02-24_Chicago Public Schools249,https://www.indeed.com/rc/clk?jk=0da10472b0b0d...

In [5]:
# Add the searched title
df['searched_title'] = 'data analyst'

In [6]:
df.head(3)

,job_id,search_title,title,company,reviews,location,description,days_ago,date_get,Ad_start_date,file_name,link,searched_title
0,1,machine learning engineer,Machine Learning Engineer,Triplebyte,NA,"New York, NY",About TriplebyteTriplebyte is transforming the...,7,2020-01-23,2020-01-16,2020-01-16_Triplebyte464,None,data analyst
1,2,machine learning engineer,Machine Learning Engineer (Principal Level),Shape Security,4 reviews,"Santa Clara, CA",About Shape Security\nWe are security and web ...,8,2020-01-23,2020-01-15,2020-01-15_Shape Security71,None,data analyst
2,3,machine learning engineer,Principal Machine Learning Engineer,Two Six Labs,NA,"Arlington, VA 22203",Two Six Labs is seeking an experienced and mot...,8,2020-01-23,2020-01-15,2020-01-15_Two Six Labs77,None,data analyst

#### 2. Check the dataset.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11836 entries, 0 to 11835
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_id          11836 non-null  int64
 1   search_title    11836 non-null  object
 2   title           11836 non-null  object
 3   company         11836 non-null  object
 4   reviews         11836 non-null  object
 5   location        11836 non-null  object
 6   description     11836 non-null  object
 7   days_ago        11836 non-null  object
 8   date_get        11836 non-null  object
 9   Ad_start_date   11836 non-null  object
 10  file_name       11836 non-null  object
 11  link            667 non-null    object
 12  searched_title  11836 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.2+ MB

In [8]:
df[df['search_title']=='data engineer'].tail(3)

,job_id,search_title,title,company,reviews,location,description,days_ago,date_get,Ad_start_date,file_name,link,searched_title
11524,11525,data engineer,Senior Data Engineer/Developer,"Insight Enterprises, Inc.",509 reviews,"Raleigh, NC",Requisition Number: 76390\n\nWe are Insight.\n...,1,2020-02-25,2020-02-24,"2020-02-24_Insight Enterprises, Inc.147",https://www.indeed.com/rc/clk?jk=d8239ec3f804b...,data analyst
11525,11526,data engineer,Data Engineer,Elkay Manufacturing,118 reviews,"Downers Grove, IL 60515",Data Engineer\nOur goal at Elkay is to inspire...,1,2020-02-25,2020-02-24,2020-02-24_Elkay Manufacturing119,https://www.indeed.com/rc/clk?jk=aae0b984a31ce...,data analyst
11526,11527,data engineer,Sr Data Engineer,Mission Lane,NA,"Richmond, VA",Dedicated to helping everyone have access to f...,1,2020-02-25,2020-02-24,2020-02-24_Mission Lane130,https://www.indeed.com/rc/clk?jk=1c1d1194a3bab...,data analyst

In [9]:
df['search_title'].value_counts()

data analyst                 4839
data scientist               3223
data engineer                3052
machine learning engineer     722
Name: search_title, dtype: int64

In [10]:
df.isnull().sum()

job_id                0
search_title          0
title                 0
company               0
reviews               0
location              0
description           0
days_ago              0
date_get              0
Ad_start_date         0
file_name             0
link              11169
searched_title        0
dtype: int64

#### 3. Prepare X, y

In [11]:
df['title_id'] = df['search_title'].factorize()[0]

In [12]:
title_id_df = df[['search_title', 'title_id']].drop_duplicates().sort_values('title_id')
title_to_id = dict(title_id_df.values)

In [13]:
X = df['description']
y = df['title_id']

#### 4. Feature selection

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')
X = tfidf.fit_transform(X)
X.shape

(11836, 140022)

#### 5. Check the most related words for each title.

In [15]:
from sklearn.feature_selection import chi2
import numpy as np
N = 2
for title, title_id in sorted(title_to_id.items()):
    X_chi2 = chi2(X, y == title_id)
    indices = np.argsort(X_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# {}:".format(title))
    print("   ## Most correlated unigrams: {}".format(',   '.join(unigrams[-N:])))
    print("   ## Most correlated bigrams: {}".format(',   '.join(bigrams[-N:])))

# data analyst:
   ## Most correlated unigrams: machine,   analyst
   ## Most correlated bigrams: machine learning,   data analyst
# data engineer:
   ## Most correlated unigrams: etl,   engineer
   ## Most correlated bigrams: data pipelines,   data engineer
# data scientist:
   ## Most correlated unigrams: machine,   scientist
   ## Most correlated bigrams: machine learning,   data scientist
# machine learning engineer:
   ## Most correlated unigrams: machine,   ml
   ## Most correlated bigrams: vibrant team,   learning engineer

In [16]:
title_to_id

{'machine learning engineer': 0,
 'data scientist': 1,
 'data engineer': 2,
 'data analyst': 3}

In [17]:
df[['title_id', 'search_title', 'description']].to_pickle('job_with_title.pkl')